/* https://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
*{box-sizing: border-box; margin: 0; padding: 0;}
html{height: 100%;width: 100%;}
body{height: 100%;width: 100%;}

/*Temporary*/
body{
	padding: 50px;
	background-color: #ccc;
}

.card{
	width: 400px;
	height: 400px;
	background-color: #eee;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	
}
.gradient{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #cc2b5e;
	background: -webkit-linear-gradient(90deg, #fcdf8a, #f38381);
	background: linear-gradient(90deg, #fcdf8a, #f38381);
}
.control{
	position: absolute;
	bottom: 0px;
	background-color: #fff;
}


.color-tab{
	width: 50%;
	float: left;
	text-align: center;
	cursor: pointer;
	border: 1px solid grey;
}



.color-value, .color-slider{
	float: left;
	height: 20px;
}
.color-slider{
	width: calc(100% - 50px);
}
.color-value{
	text-align: center;
	width: 50px;
	outline: none;
	border: none;
	background-color: #999;
}

